*{
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  
}
body {
    margin: 0;
    padding: 0;
    
} 
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


  header .title {
    font-size: 4rem;
    padding: 3% 4%;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url("../media/clouds.jpg");
  }

  #weather-card {
    color: white;
    background-color: lightgray;
    padding: 15px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
  }



  #future-forecast .card {
    width: 18rem;
    background-color: lightgray;
    color: white;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
  }

 