*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  header .title {
    font-size: 3rem;
    padding: 3% 4%;
    background-image: url("../media/clouds.jpg");
    color: white;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }